nav h3{
    display: inline;
}
nav{
    color: rgb(34, 34, 230);
    font-size: 1.3rem;
}
.home{
    display: flex;
}
.home .meter{
    display: inline;
    margin: 1% 4%;
}

.fir{
    margin: 1% 4%;
}