nav h3{
    display: inline;

}
nav{
    background-color: rgb(143, 143, 243);
}
.home{
    display: flex;
}
.home .meter{
    display: inline;
    margin: 1% 4%;
}

.fir{
    margin: 1% 4%;
}

.sos{
    margin-left: 40rem;
    margin-bottom:6.1rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.btn{
    width: 20%;
    padding: 0;
    /* margin-left: 500px; */
    font-size: 3rem;
    color: wheat;
    background:  rgb(215, 37, 37);
    
}
