#form.log-in-form {
    display: block;
    /* align-items: center; */
    margin-left: 10%;
    justify-content: center;
    flex-direction: column;
    padding: 0 3%;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

    #form.log-in-form .input-field{
        max-width: 200px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 20px 10px;
        height: 50%;
        border-radius: 55px;
        display: inline-flex;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;
        position: relative;
    }

   .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  #form.log-in-form .input-field i {
    text-align: center;
    line-height: 40px;
    padding: 0.3% 3%;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  #form.log-in-form .input-field input {
    background: none;
    outline: none;
    border: none;
    width: 80%;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
  }
  
  #form.log-in-form .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  #form.log-in-form .btn {
    width: 120px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 50%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #form.log-in-form .btn:hover {
    background-color: #4d84e2;
  }