.outer-div{
    padding: 5%;
    display: block;
}
.outer-div div{
    display: block;
}

.btn-refresh {
    width: 120px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 50%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 40%;
    padding: 3%;
    cursor: pointer;
    transition: 0.5s;
  }

